/* About Me Section */
.about-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #f0f4f7;
  padding: 3rem 2rem;
  /* margin-bottom: 1%; */
  border-radius: 10px;
  flex-wrap: wrap;
}

.about-text,
.about-highlights {
  width: 100%;
  margin-bottom: 2rem;
}

@media(min-width: 768px) {
  .about-text {
    width: 55%;
  }

  .about-highlights {
    width: 40%;
  }
}

.about-text h2 {
  font-size: 2.5rem;
  color: #2c3e50;
  margin-bottom: 1rem;
}

.about-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #34495e;
}

.about-highlights {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-highlights h3 {
  font-size: 1.8rem;
  color: #2c3e50;
  margin-bottom: 1rem;
}

.about-highlights ul {
  list-style: none;
  padding: 0;
}

.about-highlights ul li {
  font-size: 1.1rem;
  color: #34495e;
  margin-bottom: 0.75rem;
}

.about-highlights ul li strong {
  color: #2c3e50;
}

/* Skills Section */
#skills {
  background-color: #eef2f5;
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

#skills h2 {
  font-size: 2.5rem;
  color: #2c3e50;
  margin-bottom: 1.5rem;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.skill-category {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.skill-category:hover {
  transform: translateY(-10px);
}

.skill-category h3 {
  font-size: 1.8rem;
  color: #2c3e50;
  margin-bottom: 1rem;
}

.skill-category ul {
  list-style-type: none;
  padding: 0;
}

.skill-category ul li {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: #34495e;
}

/* Scholarships Section */
.scholarship-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-bottom: 2rem;
}

.scholarship-item {
  background-color: white;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.scholarship-item:hover {
  transform: translateY(-10px);
}

.scholarship-item h3 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  color: #2c3e50;
}

.scholarship-item p {
  font-size: 1rem;
  color: #34495e;
}


/* Experience Section */
#experience {
  padding: 2rem;
  background-color: #eef2f5;
  border-radius: 10px;
  margin-bottom: 2rem;
}

#experience h2 {
  font-size: 2.5rem;
  color: #2c3e50;
  margin-bottom: 1.5rem;
}

.experience-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 2rem;
}

.experience-item {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.experience-item:hover {
  transform: translateY(-10px);
}

.experience-item h3 {
  font-size: 1.8rem;
  color: #2c3e50;
  margin-bottom: 1rem;
}

/* Projects Section */
#projects {
  padding: 2rem;
  background-color: #f7fafc;
  border-radius: 10px;
  margin-bottom: 2rem;
}

#projects h2 {
  font-size: 2.5rem;
  color: #2c3e50;
  margin-bottom: 1.5rem;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 2rem;
}

.project-item {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.project-item:hover {
  transform: translateY(-10px);
}

.project-item h3 {
  font-size: 1.8rem;
  color: #2c3e50;
  margin-bottom: 1rem;
}

/* Certifications Section */
#certifications {
  padding: 2rem;
  background-color: #eef2f5;
  border-radius: 10px;
  margin-bottom: 2rem;
  text-align: center;
}

#certifications h2 {
  font-size: 2.5rem;
  color: #2c3e50;
  margin-bottom: 1.5rem;
}

.certifications-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.certification-item {
  background-color: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.certification-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.certification-item i {
  font-size: 2rem;
  color: #3498db;
  margin-bottom: 1rem;
}

.certification-item h3 {
  font-size: 1.2rem;
  color: #2c3e50;
  margin-bottom: 0.5rem;
}

.certification-item p {
  font-size: 1rem;
  color: #34495e;
}

.certifications-note {
  font-size: 1rem;
  color: #34495e;
  margin-bottom: 1rem;
  text-align: center;
}


/* Contact Section */
#contact {
  padding: 2rem;
  background-color: #f7fafc;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 2rem;
}

#contact h2 {
  font-size: 2.5rem;
  color: #2c3e50;
  margin-bottom: 1rem;
}

#contact p {
  font-size: 1.2rem;
  color: #34495e;
  margin-bottom: 0.5rem;
}

.projects-note {
  font-size: 1rem;
  color: #34495e;
  margin-bottom: 1rem;
  text-align: center;
}


footer {
  padding: 2rem;
  text-align: center;
  background-color: #2c3e50;
  color: white;
}